@import "../../global/vars";
@import "../../global/templates";

.nav-section {
  padding: 10px 30px;
  width: 220px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: $tablet-l) {
    display: none;
  }
  &__main-nav {
    margin-bottom: 60px;
    .nav-section__main-nav-list {
      display: flex;
      flex-direction: column;
      row-gap: 28px;
    }
  }
  &__secondary-nav {
    margin-bottom: 58px;
    .nav-section__secondary-nav-list {
      display: flex;
      flex-direction: column;
      row-gap: 29px;
    }
  }
  &__nav-list-item {
    height: 20px;
    &_trending {
      height: 21px;
    }
    &_person {
      height: 26px;
    }
    .nav-section__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__icon-img-wrapper {
    margin-right: 12px;
    width: 22px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-section__link-icon-img {
      &_home {
        width: 20px;
        height: 19px;
      }
      &_trending {
        width: 16px;
        height: 21px;
      }
      &_subscriptions {
        width: 18px;
        height: 18px;
      }
      &_library {
        width: 20px;
        height: 16px;
      }
      &_history {
        width: 20px;
        height: 18px;
      }
      &_watch-later {
        width: 17px;
        height: 19px;
      }
      &_favourites {
        width: 19px;
        height: 18px;
      }
      &_liked-videos {
        width: 18px;
        height: 17px;
      }
      &_music {
        width: 18px;
        height: 20px;
      }
      &_games {
        width: 22px;
        height: 16px;
      }
      &_show-more {
        width: 14px;
        height: 8px;
      }
      &_settings {
        width: 19px;
        height: 20px;
      }
    }
  }
  &__link-img {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
  }
  &__link-text {
    @include default-span(16px, 20px, $color-gray);
    &_active {
      color: $color-black;
      font-weight: bold;
      text-shadow: 0 4px 4px rgba($color-black, 0.25);
      -webkit-text-shadow: 0 4px 4px rgba($color-black, 0.25);
      -moz-text-shadow: 0 4px 4px rgba($color-black, 0.25);
    }
    &_light {
      color: $color-light-gray;
    }
  }
  &__subscriptions-nav {
    margin-bottom: 104px;
    .nav-section__subscriptions-headline {
      @include default-h(18px, 23px, $color-black);
      margin-bottom: 30px;
    }
    .nav-section__subscriptions-nav-list {
      display: flex;
      flex-direction: column;
      row-gap: 23px;
    }
  }
  &__settings-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
