@import "../../global/vars";
@import "../../global/templates";

.rec-videos-section {
  margin-bottom: 50px;
  position: relative;
  &__btns-wrapper {
    position: absolute;
    top: 22px;
    right: 149px;
  }
  &__headline {
    @include default-h(26px, 33px, $color-dark-blue);
    margin-bottom: 30px;
  }
  &__videos-wrapper {
    display: flex;
    column-gap: 40px;
  }
}
