@import "../../global/vars";
@import "../../global/templates";

.rec-videos-section {
  margin-bottom: 50px;
  position: relative;
  &__btns-wrapper {
    position: absolute;
    top: 22px;
    right: 149px;
  }
  &__headline {
  }
  &__videos-wrapper {
    display: flex;
  }
}
