@import "./vars";

// Default settings of headlines; $f-s - size; $l-h - line height; $c - color
@mixin default-h($f-s, $l-h, $c) {
  font-family: $font-mulish;
  font-weight: bold;
  font-size: $f-s;
  line-height: $l-h;
  color: $c;
}

// Default settings of spans; $f-s - size; $l-h - line height; $c - color
@mixin default-span($f-s, $l-h, $c) {
  font-family: $font-mulish;
  font-size: $f-s;
  line-height: $l-h;
  color: $c;
}
