@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Global container of whole page
.global-container {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make flex elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

.left-arrow-btn {
}

.right-arrow-btn {
}
