@import "./vars";
@import "./templates";
@import "../header/header";
@import "../main/main";
@import "../footer/footer";

// Global container of whole page
.global-container {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make flex elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

.nav-section {
  &__main-nav {
    .nav-section__main-nav-list {
    }
  }
  &__secondary-nav {
    .nav-section__secondary-nav-list {
    }
  }
  &__nav-list-item {
    .nav-section__link {
    }
  }
  &__link-img {
  }
  &__link-text {
  }
  &__subscriptions-nav {
    .nav-section__subscriptions-nav-list {
    }
  }
  &__settings-wrapper {
  }
}

.left-arrow-btn {
}

.right-arrow-btn {
}

.person-section {
  &__btns-wrapper {
  }
  &__photo-link-wrapper {
    .person-section__photo {
    }
    .person-section__name {
    }
  }
  &__videos-wrapper {
  }
}

.small-video-card {
  &__img-wrapper {
    .small-video-card__time-label {
    }
    .small-video-card__img {
    }
  }
  &__video-headline {
  }
  &__additional-info-wrapper {
    .small-video-card__views-date-wrapper {
      .small-video-card__text-views {
      }
      .small-video-card__gray-dot-separator {
      }
      .small-video-card__text-date {
      }
    }
    .small-video-card__text-author {
    }
  }
}

.rec-videos-section {
  &__btns-wrapper {
  }
  &__headline {
  }
  &__videos-wrapper {
  }
}

.big-video-card {
  &__img-wrapper {
    .big-video-card__time-label {
    }
    .big-video-card__img {
    }
  }
  &__video-headline {
  }
  &__additional-info-wrapper {
    .big-video-card__views-date-wrapper {
      .big-video-card__text-views {
      }
      .big-video-card__gray-dot-separator {
      }
      .big-video-card__text-date {
      }
    }
    .big-video-card__text-author {
    }
  }
}

.rec-channel-section {
  &__btns-wrapper {
    .rec-channel-section__subscribe-btn {
    }
    .rec-channel-section__arrow-btns-wrapper {
    }
  }
  &__headline-wrapper {
    .rec-channel-section__img-link-wrapper {
      .rec-channel-section__channel-img {
      }
      .rec-channel-section__channel-text {
      }
    }
    .rec-channel-section__rec-label {
    }
  }
  &__videos-wrapper {
  }
}
