@import "../global/vars";
@import "../global/templates";
@import "./navSection/navSection";
@import "./personSection/personSection";
@import "./recVideosSection/recVideosSection";
@import "./recChannelSection/recChannelSection";
@import "./smallVideoCard/smallVideoCard";
@import "./bigVideoCard/bigVideoCard";

.main {
  flex-grow: 1;
  padding-block: 20px 30px;
  display: flex;
  column-gap: 25px;
  @media (max-width: $tablet-l) {
    padding: 20px;
  }
  @media (max-width: $phone-l) {
    padding: 10px 16px 77px;
  }
  &__main-content-section {
    padding: 10px 0 0 10px;
    overflow-x: auto;
    @media (max-width: $tablet-l) {
      padding: 0;
    }
    @media (max-width: $phone-l) {
      width: 100%;
    }
  }
}
