@import "../global/vars";
@import "../global/templates";
@import "./navSection/navSection";
@import "./personSection/personSection";
@import "./recVideosSection/recVideosSection";
@import "./recChannelSection/recChannelSection";
@import "./smallVideoCard/smallVideoCard";
@import "./bigVideoCard/bigVideoCard";

.main {
  flex-grow: 1;
  padding-block: 20px 30px;
  display: flex;
  column-gap: 26px;
  &__main-content-section {
    padding: 10px 0 0 10px;
    overflow: hidden;
  }
}
