@import "../../global/vars";
@import "../../global/templates";

.person-section {
  margin-bottom: 49px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__btns-wrapper {
    position: absolute;
    top: 24px;
    right: 149px;
    display: flex;
    column-gap: 10px;
  }
  &__photo-link-wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    .person-section__photo {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    .person-section__name {
      @include default-h(26px, 33px, $color-black);
    }
  }
  &__videos-wrapper {
    display: flex;
    column-gap: 40px;
  }
}
